.Calc {
    background: hsl(223, 31%, 20%);
    margin-top:20px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr) 1fr;
    gap: 10px;
}

.grid-item {
    background-color: hsl(30, 25%, 89%);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: hsl(221, 14%, 31%);
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.wht-hover:hover {
    background-color: white;
}

.grid-item.span-2 {
    grid-column: span 2;
    grid-row: span 1; 
}

.cyan-bg {
    background-color: hsl(225, 21%, 49%);
    color: white;
}

.cyan-bg:hover {
    background-color: hsl(225deg 15.19% 59.64%);
}

.red-bg {
    background-color: hsl(6, 63%, 50%);
    color: white;
} 

.red-bg:hover {
    background-color: hsl(6deg 48.49% 53.93%);
}